@{
    ViewData["Title"] = "Turlar";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Yurt İçi Turları</h1>
    <div class="row">
        <div class="col-md-3">
            <h5>Popüler Şehir Rehberi</h5>
            <ul class="list-group">
                <li class="list-group-item"><a href="/Turlar/Uludag">Uludağ Turları</a></li>
                <li class="list-group-item"><a href="/Turlar/Karadeniz">Karadeniz Turları</a></li>
                <li class="list-group-item"><a href="/Turlar/Pamukkale">Pamukkale Turları</a></li>
                <li class="list-group-item"><a href="/Turlar/Kaplica">Kaplıca Turları</a></li>
                <li class="list-group-item"><a href="/Turlar/Gap">GAP Turları</a></li>
                <li class="list-group-item"><a href="/Turlar/Gunubirlik">Günübirlik Turlar</a></li>
                <li class="list-group-item"><a href="/Turlar/EgeAkdeniz">Ege-Akdeniz Turları</a></li>
                <li class="list-group-item"><a href="/Turlar/Istanbul">İstanbul Turları</a></li>
                <li class="list-group-item"><a href="/Turlar/Kapadokya">Kapadokya Turları</a></li>
                <li class="list-group-item"><a href="/Turlar/Balkan">Balkan Turları</a></li>
                <li class="list-group-item"><a href="/Turlar/Umre">Umre Organizasyonları</a></li>
                <li class="list-group-item"><a href="/Turlar/Italya">İtalya Turları</a></li>
                <li class="list-group-item"><a href="/Turlar/EgeAdalari">Ege Adaları Turları</a></li>
                <li class="list-group-item"><a href="/Turlar/BatumGurcistan">Batum-Gürcistan Turları</a></li>
                <li class="list-group-item"><a href="/Turlar/Azerbaycan">Azerbaycan Turları</a></li>
                <li class="list-group-item"><a href="/Turlar/Dubai">Dubai Turları</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img class="card-img-top" src="~/img/uludag.jpg" alt="Uludağ Turları">
                        <div class="card-body">
                            <h5 class="card-title">Uludağ Turları</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img class="card-img-top" src="~/img/karadeniz.jpg" alt="Karadeniz Turları">
                        <div class="card-body">
                            <h5 class="card-title">Karadeniz Turları</h5>
                        </div>
                    </div>
                </div>
                <!-- Diğer turlar için benzer kartlar -->
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img class="card-img-top" src="~/img/pamukkale.jpg" alt="Pamukkale Turları">
                        <div class="card-body">
                            <h5 class="card-title">Pamukkale Turları</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img class="card-img-top" src="~/img/kaplica.jpg" alt="Kaplıca Turları">
                        <div class="card-body">
                            <h5 class="card-title">Kaplıca Turları</h5>
                        </div>
                    </div>
                </div>
                <!-- Diğer turlar için benzer kartlar devam edecek -->
            </div>
        </div>
    </div>

    <h1 class="text-center mb-4">Yurt Dışı Turları</h1>
    <div class="row">
        <div class="col-md-3">
            <h5>Popüler Şehir Rehberi</h5>
            <ul class="list-group">
                <li class="list-group-item"><a href="/Turlar/Paris">Paris Turları</a></li>
                <li class="list-group-item"><a href="/Turlar/Barselona">Barselona Turları</a></li>
                <li class="list-group-item">
                    <select class="form-control">
                        <option selected>Tüm Şehirler</option>
                        <option value="1">Şehir 1</option>
                        <option value="2">Şehir 2</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img class="card-img-top" src="~/img/vizesiz.jpg" alt="Vizesiz Turlar">
                        <div class="card-body">
                            <h5 class="card-title">Vizesiz Turlar</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img class="card-img-top" src="~/img/kurban.jpg" alt="Kurban Bayramı Turları">
                        <div class="card-body">
                            <h5 class="card-title">Kurban Bayramı Turları</h5>
                        </div>
                    </div>
                </div>
                <!-- Diğer turlar için benzer kartlar devam edecek -->
            </div>
        </div>
    </div>
</div>
