@{
    ViewData["Title"] = "Turlar";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Yurt İçi Turları</h1>
    <div class="row">
        <div class="col-md-3">
            <h5>Yurt İçi Turları</h5>
            <ul class="list-group">
                <li class="list-group-item"><a href="/Turlar/Uludag">Uludağ Turları</a></li>
                <li class="list-group-item"><a href="/Turlar/Karadeniz">Karadeniz Turları</a></li>
                <li class="list-group-item"><a href="/Turlar/Pamukkale">Pamukkale Turları</a></li>
                <li class="list-group-item"><a href="/Turlar/Kaplica">Kaplıca Turları</a></li>
                <li class="list-group-item"><a href="/Turlar/Gap">GAP Turları</a></li>
                <li class="list-group-item"><a href="/Turlar/Gunubirlik">Günübirlik Turlar</a></li>
                <li class="list-group-item"><a href="/Turlar/EgeAkdeniz">Ege-Akdeniz Turları</a></li>
                <li class="list-group-item"><a href="/Turlar/Istanbul">İstanbul Turları</a></li>
                <li class="list-group-item"><a href="/Turlar/Kapadokya">Kapadokya Turları</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <a href="/Turlar/Uludag">
                            <img class="card-img-top" src="~/img/Uludağ.jpeg" alt="Uludağ Turları">
                            <div class="card-body">
                                <h5 class="card-title">Uludağ Turları</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <a href="/Turlar/Karadeniz">
                            <img class="card-img-top" src="~/img/Karadeniz.jpeg" alt="Karadeniz Turları">
                            <div class="card-body">
                                <h5 class="card-title">Karadeniz Turları</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <a href="/Turlar/Pamukkale">
                            <img class="card-img-top" src="~/img/Pamukkale.jpeg" alt="Pamukkale Turları">
                            <div class="card-body">
                                <h5 class="card-title">Pamukkale Turları</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <a href="/Turlar/Kaplica">
                            <img class="card-img-top" src="~/img/Kaplıca.jpeg" alt="Kaplıca Turları">
                            <div class="card-body">
                                <h5 class="card-title">Kaplıca Turları</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Diğer turlar için benzer kartlar -->
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <a href="/Turlar/Gap">
                            <img class="card-img-top" src="~/img/GAP.jpeg" alt="GAP Turları">
                            <div class="card-body">
                                <h5 class="card-title">GAP Turları</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <a href="/Turlar/Gunubirlik">
                            <img class="card-img-top" src="~/img/Günübirlik.jpeg" alt="Günübirlik Turlar">
                            <div class="card-body">
                                <h5 class="card-title">Günübirlik Turlar</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <a href="/Turlar/EgeAkdeniz">
                            <img class="card-img-top" src="~/img/Knidos.jpeg" alt="Ege-Akdeniz Turları">
                            <div class="card-body">
                                <h5 class="card-title">Ege-Akdeniz Turları</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <a href="/Turlar/Istanbul">
                            <img class="card-img-top" src="~/img/istanbul.jpeg" alt="İstanbul Turları">
                            <div class="card-body">
                                <h5 class="card-title">İstanbul Turları</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <a href="/Turlar/Kapadokya">
                            <img class="card-img-top" src="~/img/kapadokya.jpeg" alt="Kapadokya Turları">
                            <div class="card-body">
                                <h5 class="card-title">Kapadokya Turları</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1 class="text-center mb-4">Yurt Dışı Turları</h1>
    <div class="row">
        <div class="col-md-3">
            <h5>Yurt Dışı Turları</h5>
            <ul class="list-group">
                <li class="list-group-item"><a href="/Turlar/Balkan">Balkan Turları</a></li>
                <li class="list-group-item"><a href="/Turlar/Umre">Umre Organizasyonları</a></li>
                <li class="list-group-item"><a href="/Turlar/Italya">İtalya Turları</a></li>
                <li class="list-group-item"><a href="/Turlar/EgeAdalari">Ege Adaları Turları</a></li>
                <li class="list-group-item"><a href="/Turlar/BatumGurcistan">Batum-Gürcistan Turları</a></li>
                <li class="list-group-item"><a href="/Turlar/Azerbaycan">Azerbaycan Turları</a></li>
                <li class="list-group-item"><a href="/Turlar/Dubai">Dubai Turları</a></li>
                <li class="list-group-item">
                    <select class="form-control">
                        <option selected>Tüm Şehirler</option>
                        <option value="1">Şehir 1</option>
                        <option value="2">Şehir 2</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <a href="/Turlar/Vizesiz">
                            <img class="card-img-top" src="~/img/vizesiz.jpeg" alt="Vizesiz Turlar">
                            <div class="card-body">
                                <h5 class="card-title">Vizesiz Turlar</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <a href="/Turlar/KurbanBayrami">
                            <img class="card-img-top" src="~/img/kurban.jpeg" alt="Kurban Bayramı Turları">
                            <div class="card-body">
                                <h5 class="card-title">Kurban Bayramı Turları</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Diğer turlar için benzer kartlar -->
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <a href="/Turlar/Balkan">
                            <img class="card-img-top" src="~/img/balkan.jpeg" alt="Balkan Turları">
                            <div class="card-body">
                                <h5 class="card-title">Balkan Turları</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <a href="/Turlar/Umre">
                            <img class="card-img-top" src="~/img/Umre.jpeg" alt="Umre Organizasyonları">
                            <div class="card-body">
                                <h5 class="card-title">Umre Organizasyonları</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <a href="/Turlar/Italya">
                            <img class="card-img-top" src="~/img/italya.jpeg" alt="İtalya Turları">
                            <div class="card-body">
                                <h5 class="card-title">İtalya Turları</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <a href="/Turlar/EgeAdalari">
                            <img class="card-img-top" src="~/img/adalar.jpeg" alt="Ege Adaları Turları">
                            <div class="card-body">
                                <h5 class="card-title">Ege Adaları Turları</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <a href="/Turlar/BatumGurcistan">
                            <img class="card-img-top" src="~/img/batum.jpeg" alt="Batum-Gürcistan Turları">
                            <div class="card-body">
                                <h5 class="card-title">Batum-Gürcistan Turları</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <a href="/Turlar/Azerbaycan">
                            <img class="card-img-top" src="~/img/azerbaycan.jpeg" alt="Azerbaycan Turları">
                            <div class="card-body">
                                <h5 class="card-title">Azerbaycan Turları</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <a href="/Turlar/Dubai">
                            <img class="card-img-top" src="~/img/dubai.jpeg" alt="Dubai Turları">
                            <div class="card-body">
                                <h5 class="card-title">Dubai Turları</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
