@{
    ViewData["Title"] = "İletişim";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">İletişim</h1>
    <div class="row">
        <div class="col-md-6">
            <h4>İletişim Bilgilerimiz</h4>
            <p><strong>Adres:</strong> Nuray Turizm, Alipaşa Mahallesi, Veziri Caddesi, Bezirci Sokak, Kat:1, Daire:1 Osmangazi/BURSA, Türkiye</p>
            <p><strong>Telefon:</strong> +0532 297 5818</p>
            <p><strong>Email:</strong> infonurayturizm@gmail.com</p>
            <p><strong>Çalışma Saatlerimiz:</strong> Pazartesi - Cuma: 09:00 - 19:00</p>
        </div>
        <div class="col-md-6">
            <h4>Bize Ulaşın</h4>
            <form>
                <div class="form-group">
                    <label for="name">Adınız</label>
                    <input type="text" class="form-control" id="name" placeholder="Adınızı giriniz">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email adresinizi giriniz">
                </div>
                <div class="form-group">
                    <label for="subject">Konu</label>
                    <input type="text" class="form-control" id="subject" placeholder="Konu">
                </div>
                <div class="form-group">
                    <label for="message">Mesajınız</label>
                    <textarea class="form-control" id="message" rows="5" placeholder="Mesajınızı yazınız"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Gönder</button>
            </form>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <h4>Lokasyonumuz</h4>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d269.4269482774316!2d29.05791723239786!3d40.18196270910868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sNuray%20Turizm%2C%20Alipa%C5%9Fa%20Mahallesi%2C%20Veziri%20Caddesi%2C%20Bezirci%20Sokak%2C%20Kat%3A1%2C%20Daire%3A1%20Osmangazi%2FBURSA%2C%20T%C3%BCrkiye!5e0!3m2!1str!2str!4v1719351760855!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
