@{
    ViewData["Title"] = "Karadeniz Seyahatleri İçin İpuçları";
}

<h1>Karadeniz Seyahatleri İçin İpuçları</h1>
<p>Karadeniz bölgesinde seyahat ederken dikkat etmeniz gerekenler.</p>
<img src="~/img/karadeniz-seyahat.jpg" alt="Karadeniz Seyahatleri" />
