@{
    ViewData["Title"] = "Kış Seyahatleri İçin İpuçları";
}

<h1>Kış Seyahatleri İçin İpuçları</h1>
<p>Kış tatilinizi planlarken dikkate almanız gereken ipuçları burada.</p>
<img src="~/img/kis-seyahat.jpg" alt="Kış Seyahatleri" />
