@{
    ViewData["Title"] = "Sahil Kesimleri İçin İpuçları";
}

<h1>Sahil Kesimleri İçin İpuçları</h1>
<p>Sahil kesimlerinde tatilinizi planlarken dikkat etmeniz gerekenler.</p>
<img src="~/img/sahil-seyahat.jpg" alt="Sahil Seyahatleri" />
