@{
    ViewData["Title"] = "Yurt Dışı Seyahatleri İçin İpuçları";
}

<h1>Yurt Dışı Seyahatleri İçin İpuçları</h1>
<p>Yurt dışı seyahatlerinizi planlarken dikkat etmeniz gereken ipuçları.</p>
<img src="~/img/yurtdisi-seyahat.jpg" alt="Yurt Dışı Seyahatleri" />
