@model List<string>

<div class="container mt-5">
    <h1 class="text-center mb-4">Arama Sonuçları</h1>
    @if (Model != null && Model.Count > 0)
    {
        <ul class="list-group">
            @foreach (var item in Model)
            {
                <li class="list-group-item">@item</li>
            }
        </ul>
    }
    else
    {
        <p>Sonuç bulunamadı.</p>
    }
</div>
