html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    padding-top: 70px; /* Navbar yüksekliði arttýðýndan padding'i de artýrýyoruz */
    font-family: 'Arial', sans-serif;
    overflow-x: hidden; /* Yatay kaydýrmayý engelle */
}

html, body {
    height: 100%; /* Sayfanýn yüksekliðini tam olarak doldur */
    margin: 0; /* Varsayýlan margin'i kaldýr */
}

.navbar {
    background-color: #4CAF50; /* Ana renk */
    height: 70px; /* Navbar yüksekliði */
}

.navbar-brand img {
    height: 100%; /* Logonun yüksekliðini navbar yüksekliðine ayarlýyoruz */
}

.navbar-nav .nav-link {
    color: white !important;
    margin-right: 15px;
}

    .navbar-nav .nav-link:hover {
        color: #FFD700 !important; /* Hover rengi */
    }

.jumbotron {
    background-image: url('/img/background.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .jumbotron h1 {
        font-size: 4rem;
        font-weight: bold;
    }

    .jumbotron p {
        font-size: 1.5rem;
    }

.carousel-inner {
    max-height: 500px; /* Karusel resimlerinin yüksekliði */
}

    .carousel-inner img {
        width: 100%;
        height: 500px; /* Sabit yükseklik */
        object-fit: cover; /* Resimlerin kesilmeden ortalanmasý */
    }

.container {
    margin-top: 30px;
}

.footer {
    background-color: #4CAF50; /* Footer arka plan rengi */
    color: white;
    padding: 20px 0;
    text-align: center;
}

.btn-secondary {
    background-color: #4CAF50; /* Buton rengi */
    border-color: #4CAF50;
    color: white;
}

    .btn-secondary:hover {
        background-color: #45a049; /* Hover rengi */
        border-color: #45a049;
    }
