@{
    ViewData["Title"] = "Hakkımızda";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Hakkımızda</h1>
    <p>Nuray Turizm olarak alanında uzman ve tecrübeli çalışan kadromuz ile uzun yıllardan beri Türk turizmine katkı sunuyoruz. Amacımız siz değerli misafirlerimizi güvenli, kaliteli, ekonomik hizmete ulaştırmaktır.</p>
    <p>Nuray Turizm olarak siz değerli misafirlerimizi memnun etmek ve güvenli bir şekilde seyahat etmenizi sağlamak bizim için önceliklidir. Yılların getirdiği deneyim ve bilgi birikimimizle, en iyi hizmeti sunmak için çalışıyoruz.</p>
</div>
<div class="container mt-5">
    <h1 class="text-center mb-4">İlkelerimiz</h1>
    <ul>
        <li><strong>Dürüstlük:</strong> Misafirlerimize karşı her zaman dürüst ve açık olmaya özen gösteririz.</li>
        <li><strong>Güvenilirlik:</strong> Güvenilir hizmet anlayışımızla misafirlerimizin memnuniyetini sağlarız.</li>
        <li><strong>Müşteri Memnuniyeti:</strong> Misafirlerimizin memnuniyeti bizim için en önemli önceliktir.</li>
        <li><strong>Kalite:</strong> Her zaman yüksek kaliteli hizmet sunmak için çalışırız.</li>
        <li><strong>Ekonomik Hizmet:</strong> Misafirlerimize en iyi hizmeti en ekonomik fiyatlarla sunarız.</li>
    </ul>
</div>