<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nuray Turizm</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/">
                <img src="~/img/NT.png" alt="Nuray Turizm" class="logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">ANA SAYFA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gezi-rehberi">İNTERAKTİF GEZİ REHBERİ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/turlar">TURLAR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/seyahat-ipuclari">SEYAHAT İPUÇLARI</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/kampanyalar">KAMPANYALAR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/hakkimizda">HAKKIMIZDA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/iletisim">İLETİŞİM</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Account/Profile">@User.Identity.Name</a>
                        </li>
                        <li class="nav-item">
                            <form method="post" asp-controller="Account" asp-action="Logout" class="form-inline">
                                <button type="submit" class="btn btn-link nav-link" style="cursor:pointer;">Çıkış Yap</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Account/Register">KAYIT OL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Account/Login">GİRİŞ YAP</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="language-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            TR
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            &copy; 2023 - Nuray Turizm - <a asp-area="" asp-controller="Home" asp-action="Privacy" style="color: white;">Gizlilik</a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
