<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nuray Turizm</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0; /* Adjust for different browsers */
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light ">
            <a class="navbar-brand" href="/">
                <img src="~/img/NT.png" alt="Nuray Turizm" class="logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav" style="background-color: #4CAF50;">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">ANA SAYFA</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="geziRehberiDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            İNTERAKTİF GEZİ REHBERİ
                        </a>
                        <div class="dropdown-menu" aria-labelledby="geziRehberiDropdown">
                            <a class="dropdown-item" href="/GeziRehberi/Fotograflar">SEYAHATLERİMİZDEN FOTOĞRAFLAR</a>
                            <a class="dropdown-item" href="/GeziRehberi/Videolar">SEYAHATLERİMİZDEN VİDEOLAR</a>
                            <a class="dropdown-item" href="/GeziRehberi/Haritalar">HAREKETLİ HARİTALAR</a>
                            <a class="dropdown-item" href="/GeziRehberi/Kameramizdan">KAMERAMIZDAN</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/Turlar/Index" id="turlarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            TURLAR
                        </a>
                        <div class="dropdown-menu" aria-labelledby="turlarDropdown">
                            <h6 class="dropdown-header">YURT İÇİ TURLARI</h6>
                            <a class="dropdown-item" href="/Turlar/Uludag">ULUDAĞ TURLARI</a>
                            <a class="dropdown-item" href="/Turlar/Karadeniz">KARADENİZ TURLARI</a>
                            <a class="dropdown-item" href="/Turlar/Pamukkale">PAMUKKALE TURLARI</a>
                            <a class="dropdown-item" href="/Turlar/Kaplica">KAPLICA TURLARI</a>
                            <a class="dropdown-item" href="/Turlar/Gap">GAP TURLARI</a>
                            <a class="dropdown-item" href="/Turlar/Gunubirlik">GÜNÜBİRLİK TURLAR</a>
                            <a class="dropdown-item" href="/Turlar/EgeAkdeniz">EGE-AKDENİZ TURLARI</a>
                            <a class="dropdown-item" href="/Turlar/Istanbul">İSTANBUL TURLARI</a>
                            <a class="dropdown-item" href="/Turlar/Kapadokya">KAPADOKYA TURLARI</a>
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">YURT DIŞI TURLARI</h6>
                            <a class="dropdown-item" href="/Turlar/Balkan">BALKAN TURLARI</a>
                            <a class="dropdown-item" href="/Turlar/Umre">UMRE ORGANİZASYONLARI</a>
                            <a class="dropdown-item" href="/Turlar/Italya">İTALYA TURLARI</a>
                            <a class="dropdown-item" href="/Turlar/EgeAdalari">EGE ADALARI TURLARI</a>
                            <a class="dropdown-item" href="/Turlar/BatumGurcistan">BATUM - GÜRCİSTAN TURLARI</a>
                            <a class="dropdown-item" href="/Turlar/Azerbaycan">AZERBAYCAN TURLARI</a>
                            <a class="dropdown-item" href="/Turlar/Dubai">DUBAI TURLARI</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="ipuclariDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            SEYAHAT İPUÇLARI
                        </a>
                        <div class="dropdown-menu" aria-labelledby="ipuclariDropdown">
                            <a class="dropdown-item" href="/Ipuclari/Kis">KIŞ SEYAHATLERİ İÇİN İPUÇLARI</a>
                            <a class="dropdown-item" href="/Ipuclari/Karadeniz">KARADENİZ SEYAHATLERİ İÇİN İPUÇLARI</a>
                            <a class="dropdown-item" href="/Ipuclari/Sahil">SAHİL KESİMLERİ İÇİN İPUÇLARI</a>
                            <a class="dropdown-item" href="/Ipuclari/Yurtdisi">YURT DIŞI SEYAHATLERİ İÇİN </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="kampanyalarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            KAMPANYALAR
                        </a>
                        <div class="dropdown-menu" aria-labelledby="kampanyalarDropdown">
                            <a class="dropdown-item" href="/Kampanyalar/AyinFirsatlari">AYIN FIRSATLARI</a>
                            <a class="dropdown-item" href="/Kampanyalar/HaftaninFirsatlari">HAFTANIN FIRSATLARI</a>
                            <a class="dropdown-item" href="/Kampanyalar/KampanyaliTurlarimiz">KAMPANYALI TURLARIMIZ</a>
                            <a class="dropdown-item" href="/Kampanyalar/ErkenKayitFirsatlari">ERKEN KAYIT FIRSATLARI</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Hakkimizda/Index">HAKKIMIZDA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/iletisim">İLETİŞİM</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Ara" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Ara</button>
                </form>
                <ul class="navbar-nav ml-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Account/Profile">@User.Identity.Name</a>
                        </li>
                        <li class="nav-item">
                            <form method="post" asp-controller="Account" asp-action="Logout" class="form-inline">
                                <button type="submit" class="btn btn-link nav-link" style="cursor:pointer;">Çıkış Yap</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Account/Register">KAYIT OL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Account/Login">GİRİŞ YAP</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="language-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            TR
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer" style="background-color: #4CAF50;">
        <!-- Footer rengi yeşil -->
        <div class="container">
            &copy; 2023 - Nuray Turizm - <a asp-area="" asp-controller="Home" asp-action="Privacy" style="color: white;">Gizlilik</a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
