@{
    ViewData["Title"] = "Hareketli Haritalar";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Hareketli Haritalar</h1>
    <nav>
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" href="/GeziRehberi/Fotograflar">Fotoğraflar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/GeziRehberi/Videolar">Videolar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/GeziRehberi/Haritalar">Haritalar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/GeziRehberi/Kameramizdan">Kameramızdan</a>
            </li>
        </ul>
    </nav>
    <div id="carouselExampleControls" class="carousel slide mt-4" data-ride="carousel">
        <div class="carousel-inner">
            <!-- Kapadokya - Sıcak Hava Balonları -->
            <div class="carousel-item active">
                <h3 class="text-center">Kapadokya - Sıcak Hava Balonları</h3>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://momento360.com/e/u/a9b53aa8f8b0403ba7a4e18243aabc66" allowfullscreen></iframe>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Kapadokya - Sıcak Hava Balonları</h5>
                </div>
            </div>
            <!-- Efes Antik Kenti -->
            <div class="carousel-item">
                <h3 class="text-center">Efes Antik Kenti</h3>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://momento360.com/e/u/abcd1234efgh5678ijkl9101mnop1123" allowfullscreen></iframe>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Efes Antik Kenti</h5>
                </div>
            </div>
            <!-- Pamukkale Travertenleri -->
            <div class="carousel-item">
                <h3 class="text-center">Pamukkale Travertenleri</h3>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://momento360.com/e/u/5678abcd1234efgh9101ijklmnop1123" allowfullscreen></iframe>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Pamukkale Travertenleri</h5>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
