@{
    ViewData["Title"] = "Hareketli Haritalar";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Hareketli Haritalar</h1>
    <nav>
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" href="/GeziRehberi/Fotograflar">Fotoğraflar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/GeziRehberi/Videolar">Videolar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/GeziRehberi/Haritalar">Haritalar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/GeziRehberi/Kameramizdan">Kameramızdan</a>
            </li>
        </ul>
    </nav>
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-cappadocia-list" data-toggle="list" href="#list-cappadocia" role="tab" aria-controls="cappadocia">Kapadokya</a>
                <a class="list-group-item list-group-item-action" id="list-istanbul-list" data-toggle="list" href="#list-istanbul" role="tab" aria-controls="istanbul">İstanbul</a>
                <a class="list-group-item list-group-item-action" id="list-pamukkale-list" data-toggle="list" href="#list-pamukkale" role="tab" aria-controls="pamukkale">Pamukkale</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-cappadocia" role="tabpanel" aria-labelledby="list-cappadocia-list">
                    <h3 class="text-center">Kapadokya - Sıcak Hava Balonları</h3>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="700" height="450" src="https://www.airpano.com/embed.php?3D=cappadocia-turkey" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" framespacing="0" allowfullscreen></iframe>
                        <br>
                        <div style="float:right">Courtesy of <a href="https://www.airpano.com/" target="_blank">www.AirPano.ru</a></div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-istanbul" role="tabpanel" aria-labelledby="list-istanbul-list">
                    <h3 class="text-center">İstanbul</h3>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="700" height="450" src="https://www.airpano.com/embed.php?3D=istanbul-turkey" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" framespacing="0" allowfullscreen></iframe>
                        <br>
                        <div style="float:right">Courtesy of <a href="https://www.airpano.com/" target="_blank">www.AirPano.ru</a></div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-pamukkale" role="tabpanel" aria-labelledby="list-pamukkale-list">
                    <h3 class="text-center">Pamukkale Travertenleri</h3>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="700" height="450" src="https://www.airpano.com/embed.php?3D=pamukkale-turkey" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" framespacing="0" allowfullscreen></iframe>
                        <br>
                        <div style="float:right">Courtesy of <a href="https://www.airpano.com/" target="_blank">www.AirPano.com</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
